.user-message {
    align-self: flex-end;
    border-radius: 5px;
    max-width: 70%;
    width: fit-content;
    text-align: end;
}

.ai-message {
    border-radius: 5px;
    max-width: 70%;
    width: fit-content;

}