.chat-component {
    position: absolute;
    height: 99vh;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 99vw;
    display: flex;
    flex-direction: column;
    padding: 4px;
    color: #fff;
}


.chat-message {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
    height: 88%;
}

.chat-console {
    display: flex;
    padding: 10px;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    justify-self: center;
    background-color: #393d3c;
}

.chat-prompt {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

.send-button {
    display: flex;
    padding: 2px;
    justify-self: end;
}